#config-box {
    width: 35%;
    padding-bottom: 23%;

    margin-right: 20px;
}

#config-box .box-container {
    position: absolute;
    left: 30px;

    width: 20.14%;
    height: 8.85%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#config-box .box-container img {
    width: 40px;
}